.landing-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10%;
  text-align: center;
}

.landing-main h1 {
  padding: 2%;
}

.landing-main div {
  padding: 2%;
}

button {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0.25rem;
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.25rem
}
