.dashboard-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%;
}

.pokemon-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.party {
  margin: 2%;
  padding: 0 10% 0 10%;
}

.party h2 {
  padding: 1%;
  margin-left: 10%;
}

.box {
  margin: 2%;
  padding: 0 10% 0 10%;
}

.box h2 {
  padding: 1%;
  margin-left: 10%;
}
