.sign-in-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10%;
  text-align: center;
}

.sign-in-main h1 {
  padding: 2%;
}

.username {
  display: flex;
  flex-direction: column;
}

.password {
  display: flex;
  flex-direction: column;
}

label {
  padding: 2%;
  font-size: larger;
}

input {
  font-size: larger;
  margin: 5%;
}